.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
  color: white;
  z-index: 3;
  position: relative;
}

.navbar button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}



.navbar button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.navbar button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

/* Add more styling rules as needed */
/* .imagecontainer{
  width: 100vw;
   
    margin-top: 10px;
    position: relative;
    
}

.image-viewer{
  width: 100vw;
  
}

.rectangles {
  
  width: 100vw;
  height: 100px;
  
  position: absolute;
  bottom: 1px;
  background-color: aqua;
 
} */

.imagecontainer {
  width: 100vw;
  height: 50vh;
  position: relative;
  z-index: 1;
  margin-top: 10px;
}
.image-viewer {
  width: 100vw;
  height: 80vh;
}
.rectangles {
  width: 100vw;
  height: 80vh;
  position: absolute;
  bottom: 400px;
  background-color: aqua;
  z-index: 2;
  margin-top: 10px;
  
}






